body {
  margin: 0;
  padding: 0;
}

#map-infopunten {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}

.tdb-map-popup {
  h3 {
    margin: 0;
    letter-spacing: 0.55px;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
  }
  p {
    margin: 0;
    font-size: 14px;
    line-height: 1.55em;
    color: #4a5059;
    font-family: 'Roboto', sans-serif;
    padding-top: 6px;
  }
  a {
    font-size: 14px;
    line-height: 1.55em;
    color: #4a5059;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #168fb5;
  }
}
